<?php

declare(strict_types=1);

/**
 * ConversationsApi
 * PHP version 5.
 *
 * @category Class
 *
 * @author   Swagger Codegen team
 *
 * @see     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Mailchimp Marketing API.
 *
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 3.0.80
 * Contact: apihelp@mailchimp.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 * Swagger Codegen version: 2.4.12
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace MailchimpMarketing\Api;

use GuzzleHttp\Psr7\Request;

class ConversationsApi extends AbstractApi
{
    public function list($fields = null, $exclude_fields = null, $count = '10', $offset = '0', $has_unread_messages = null, $list_id = null, $campaign_id = null)
    {
        return $this->listWithHttpInfo($fields, $exclude_fields, $count, $offset, $has_unread_messages, $list_id, $campaign_id);
    }

    public function listWithHttpInfo($fields = null, $exclude_fields = null, $count = '10', $offset = '0', $has_unread_messages = null, $list_id = null, $campaign_id = null)
    {
        $request = $this->listRequest($fields, $exclude_fields, $count, $offset, $has_unread_messages, $list_id, $campaign_id);

        return $this->sendRequest($request);
    }

    public function get($conversation_id, $fields = null, $exclude_fields = null)
    {
        return $this->getWithHttpInfo($conversation_id, $fields, $exclude_fields);
    }

    public function getWithHttpInfo($conversation_id, $fields = null, $exclude_fields = null)
    {
        $request = $this->getRequest($conversation_id, $fields, $exclude_fields);

        return $this->sendRequest($request);
    }

    public function getConversationMessages($conversation_id, $fields = null, $exclude_fields = null, $is_read = null, $before_timestamp = null, $since_timestamp = null)
    {
        return $this->getConversationMessagesWithHttpInfo($conversation_id, $fields, $exclude_fields, $is_read, $before_timestamp, $since_timestamp);
    }

    public function getConversationMessagesWithHttpInfo($conversation_id, $fields = null, $exclude_fields = null, $is_read = null, $before_timestamp = null, $since_timestamp = null)
    {
        $request = $this->getConversationMessagesRequest($conversation_id, $fields, $exclude_fields, $is_read, $before_timestamp, $since_timestamp);

        return $this->sendRequest($request);
    }

    public function getConversationMessage($conversation_id, $message_id, $fields = null, $exclude_fields = null)
    {
        return $this->getConversationMessageWithHttpInfo($conversation_id, $message_id, $fields, $exclude_fields);
    }

    public function getConversationMessageWithHttpInfo($conversation_id, $message_id, $fields = null, $exclude_fields = null)
    {
        $request = $this->getConversationMessageRequest($conversation_id, $message_id, $fields, $exclude_fields);

        return $this->sendRequest($request);
    }

    protected function listRequest($fields = null, $exclude_fields = null, $count = '10', $offset = '0', $has_unread_messages = null, $list_id = null, $campaign_id = null): Request
    {
        if (null !== $count && $count > 1000) {
            throw new \InvalidArgumentException('invalid value for "$count" when calling ConversationsApi., must be smaller than or equal to 1000.');
        }

        $resourcePath = '/conversations';
        $queryParams = $this->buildQueryParams($fields, $exclude_fields, $count, $offset);
        $this->addQueryParam($queryParams, 'has_unread_messages', $has_unread_messages);
        $this->addQueryParam($queryParams, 'list_id', $list_id);
        $this->addQueryParam($queryParams, 'campaign_id', $campaign_id);

        return $this->buildRequest('GET', $resourcePath, $queryParams);
    }

    protected function getRequest($conversation_id, $fields = null, $exclude_fields = null): Request
    {
        $this->requireParam($conversation_id, 'conversation_id');

        $resourcePath = '/conversations/{conversation_id}';
        $queryParams = $this->buildQueryParams($fields, $exclude_fields);

        $this->replacePathParam($resourcePath, 'conversation_id', $conversation_id);

        return $this->buildRequest('GET', $resourcePath, $queryParams);
    }

    protected function getConversationMessagesRequest($conversation_id, $fields = null, $exclude_fields = null, $is_read = null, $before_timestamp = null, $since_timestamp = null): Request
    {
        $this->requireParam($conversation_id, 'conversation_id');

        $resourcePath = '/conversations/{conversation_id}/messages';
        $queryParams = $this->buildQueryParams($fields, $exclude_fields);
        $this->addQueryParam($queryParams, 'is_read', $is_read);
        $this->addQueryParam($queryParams, 'before_timestamp', $before_timestamp);
        $this->addQueryParam($queryParams, 'since_timestamp', $since_timestamp);

        $this->replacePathParam($resourcePath, 'conversation_id', $conversation_id);

        return $this->buildRequest('GET', $resourcePath, $queryParams);
    }

    protected function getConversationMessageRequest($conversation_id, $message_id, $fields = null, $exclude_fields = null): Request
    {
        $this->requireParam($conversation_id, 'conversation_id');
        $this->requireParam($message_id, 'message_id');

        $resourcePath = '/conversations/{conversation_id}/messages/{message_id}';
        $queryParams = $this->buildQueryParams($fields, $exclude_fields);

        $this->replacePathParam($resourcePath, 'conversation_id', $conversation_id);
        $this->replacePathParam($resourcePath, 'message_id', $message_id);

        return $this->buildRequest('GET', $resourcePath, $queryParams);
    }
}
