<?php

declare(strict_types=1);

/**
 * FileManagerApi
 * PHP version 5.
 *
 * @category Class
 *
 * @author   Swagger Codegen team
 *
 * @see     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Mailchimp Marketing API.
 *
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 3.0.80
 * Contact: apihelp@mailchimp.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 * Swagger Codegen version: 2.4.12
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace MailchimpMarketing\Api;

use GuzzleHttp\Psr7\Request;

class FileManagerApi extends AbstractApi
{
    public function deleteFile($file_id): void
    {
        $this->deleteFileWithHttpInfo($file_id);
    }

    public function deleteFileWithHttpInfo($file_id)
    {
        $request = $this->deleteFileRequest($file_id);

        return $this->sendRequest($request);
    }

    public function deleteFolder($folder_id): void
    {
        $this->deleteFolderWithHttpInfo($folder_id);
    }

    public function deleteFolderWithHttpInfo($folder_id)
    {
        $request = $this->deleteFolderRequest($folder_id);

        return $this->sendRequest($request);
    }

    public function files($fields = null, $exclude_fields = null, $count = '10', $offset = '0', $type = null, $created_by = null, $before_created_at = null, $since_created_at = null, $sort_field = null, $sort_dir = null)
    {
        return $this->filesWithHttpInfo($fields, $exclude_fields, $count, $offset, $type, $created_by, $before_created_at, $since_created_at, $sort_field, $sort_dir);
    }

    public function filesWithHttpInfo($fields = null, $exclude_fields = null, $count = '10', $offset = '0', $type = null, $created_by = null, $before_created_at = null, $since_created_at = null, $sort_field = null, $sort_dir = null)
    {
        $request = $this->filesRequest($fields, $exclude_fields, $count, $offset, $type, $created_by, $before_created_at, $since_created_at, $sort_field, $sort_dir);

        return $this->sendRequest($request);
    }

    public function getFile($file_id, $fields = null, $exclude_fields = null)
    {
        return $this->getFileWithHttpInfo($file_id, $fields, $exclude_fields);
    }

    public function getFileWithHttpInfo($file_id, $fields = null, $exclude_fields = null)
    {
        $request = $this->getFileRequest($file_id, $fields, $exclude_fields);

        return $this->sendRequest($request);
    }

    public function listFolders($fields = null, $exclude_fields = null, $count = '10', $offset = '0', $created_by = null, $before_created_at = null, $since_created_at = null)
    {
        return $this->listFoldersWithHttpInfo($fields, $exclude_fields, $count, $offset, $created_by, $before_created_at, $since_created_at);
    }

    public function listFoldersWithHttpInfo($fields = null, $exclude_fields = null, $count = '10', $offset = '0', $created_by = null, $before_created_at = null, $since_created_at = null)
    {
        $request = $this->listFoldersRequest($fields, $exclude_fields, $count, $offset, $created_by, $before_created_at, $since_created_at);

        return $this->sendRequest($request);
    }

    public function getFolder($folder_id, $fields = null, $exclude_fields = null)
    {
        return $this->getFolderWithHttpInfo($folder_id, $fields, $exclude_fields);
    }

    public function getFolderWithHttpInfo($folder_id, $fields = null, $exclude_fields = null)
    {
        $request = $this->getFolderRequest($folder_id, $fields, $exclude_fields);

        return $this->sendRequest($request);
    }

    public function updateFile($file_id, $body)
    {
        return $this->updateFileWithHttpInfo($file_id, $body);
    }

    public function updateFileWithHttpInfo($file_id, $body)
    {
        $request = $this->updateFileRequest($file_id, $body);

        return $this->sendRequest($request);
    }

    public function updateFolder($folder_id, $body)
    {
        return $this->updateFolderWithHttpInfo($folder_id, $body);
    }

    public function updateFolderWithHttpInfo($folder_id, $body)
    {
        $request = $this->updateFolderRequest($folder_id, $body);

        return $this->sendRequest($request);
    }

    public function upload($body)
    {
        return $this->uploadWithHttpInfo($body);
    }

    public function uploadWithHttpInfo($body)
    {
        $request = $this->uploadRequest($body);

        return $this->sendRequest($request);
    }

    public function createFolder($body)
    {
        return $this->createFolderWithHttpInfo($body);
    }

    public function createFolderWithHttpInfo($body)
    {
        $request = $this->createFolderRequest($body);

        return $this->sendRequest($request);
    }

    protected function deleteFileRequest($file_id): Request
    {
        $this->requireParam($file_id, 'file_id');

        $resourcePath = '/file-manager/files/{file_id}';
        $queryParams = [];

        $this->replacePathParam($resourcePath, 'file_id', $file_id);

        return $this->buildRequest('DELETE', $resourcePath, $queryParams);
    }

    protected function deleteFolderRequest($folder_id): Request
    {
        $this->requireParam($folder_id, 'folder_id');

        $resourcePath = '/file-manager/folders/{folder_id}';
        $queryParams = [];

        $this->replacePathParam($resourcePath, 'folder_id', $folder_id);

        return $this->buildRequest('DELETE', $resourcePath, $queryParams);
    }

    protected function filesRequest($fields = null, $exclude_fields = null, $count = '10', $offset = '0', $type = null, $created_by = null, $before_created_at = null, $since_created_at = null, $sort_field = null, $sort_dir = null): Request
    {
        if (null !== $count && $count > 1000) {
            throw new \InvalidArgumentException('invalid value for "$count" when calling FileManagerApi., must be smaller than or equal to 1000.');
        }

        $resourcePath = '/file-manager/files';
        $queryParams = $this->buildQueryParams($fields, $exclude_fields, $count, $offset);
        $this->addQueryParam($queryParams, 'type', $type);
        $this->addQueryParam($queryParams, 'created_by', $created_by);
        $this->addQueryParam($queryParams, 'before_created_at', $before_created_at);
        $this->addQueryParam($queryParams, 'since_created_at', $since_created_at);
        $this->addQueryParam($queryParams, 'sort_field', $sort_field);
        $this->addQueryParam($queryParams, 'sort_dir', $sort_dir);

        return $this->buildRequest('GET', $resourcePath, $queryParams);
    }

    protected function getFileRequest($file_id, $fields = null, $exclude_fields = null): Request
    {
        $this->requireParam($file_id, 'file_id');

        $resourcePath = '/file-manager/files/{file_id}';
        $queryParams = $this->buildQueryParams($fields, $exclude_fields);

        $this->replacePathParam($resourcePath, 'file_id', $file_id);

        return $this->buildRequest('GET', $resourcePath, $queryParams);
    }

    protected function listFoldersRequest($fields = null, $exclude_fields = null, $count = '10', $offset = '0', $created_by = null, $before_created_at = null, $since_created_at = null): Request
    {
        if (null !== $count && $count > 1000) {
            throw new \InvalidArgumentException('invalid value for "$count" when calling FileManagerApi., must be smaller than or equal to 1000.');
        }

        $resourcePath = '/file-manager/folders';
        $queryParams = $this->buildQueryParams($fields, $exclude_fields, $count, $offset);
        $this->addQueryParam($queryParams, 'created_by', $created_by);
        $this->addQueryParam($queryParams, 'before_created_at', $before_created_at);
        $this->addQueryParam($queryParams, 'since_created_at', $since_created_at);

        return $this->buildRequest('GET', $resourcePath, $queryParams);
    }

    protected function getFolderRequest($folder_id, $fields = null, $exclude_fields = null): Request
    {
        $this->requireParam($folder_id, 'folder_id');

        $resourcePath = '/file-manager/folders/{folder_id}';
        $queryParams = $this->buildQueryParams($fields, $exclude_fields);

        $this->replacePathParam($resourcePath, 'folder_id', $folder_id);

        return $this->buildRequest('GET', $resourcePath, $queryParams);
    }

    protected function updateFileRequest($file_id, $body): Request
    {
        $this->requireParam($file_id, 'file_id');
        $this->requireParam($body, 'body');

        $resourcePath = '/file-manager/files/{file_id}';
        $queryParams = [];

        $this->replacePathParam($resourcePath, 'file_id', $file_id);

        return $this->buildRequest('PATCH', $resourcePath, $queryParams, $body);
    }

    protected function updateFolderRequest($folder_id, $body): Request
    {
        $this->requireParam($folder_id, 'folder_id');
        $this->requireParam($body, 'body');

        $resourcePath = '/file-manager/folders/{folder_id}';
        $queryParams = [];

        $this->replacePathParam($resourcePath, 'folder_id', $folder_id);

        return $this->buildRequest('PATCH', $resourcePath, $queryParams, $body);
    }

    protected function uploadRequest($body): Request
    {
        $this->requireParam($body, 'body');

        $resourcePath = '/file-manager/files';
        $queryParams = [];

        return $this->buildRequest('POST', $resourcePath, $queryParams, $body);
    }

    protected function createFolderRequest($body): Request
    {
        $this->requireParam($body, 'body');

        $resourcePath = '/file-manager/folders';
        $queryParams = [];

        return $this->buildRequest('POST', $resourcePath, $queryParams, $body);
    }
}
