<?php

declare(strict_types=1);

/**
 * LandingPagesApi
 * PHP version 5.
 *
 * @category Class
 *
 * @author   Swagger Codegen team
 *
 * @see     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Mailchimp Marketing API.
 *
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 3.0.80
 * Contact: apihelp@mailchimp.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 * Swagger Codegen version: 2.4.12
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace MailchimpMarketing\Api;

use GuzzleHttp\Psr7\Request;

class LandingPagesApi extends AbstractApi
{
    public function deletePage($page_id): void
    {
        $this->deletePageWithHttpInfo($page_id);
    }

    public function deletePageWithHttpInfo($page_id)
    {
        $request = $this->deletePageRequest($page_id);

        return $this->sendRequest($request);
    }

    public function getAll($sort_dir = null, $sort_field = null, $fields = null, $exclude_fields = null, $count = '10')
    {
        return $this->getAllWithHttpInfo($sort_dir, $sort_field, $fields, $exclude_fields, $count);
    }

    public function getAllWithHttpInfo($sort_dir = null, $sort_field = null, $fields = null, $exclude_fields = null, $count = '10')
    {
        $request = $this->getAllRequest($sort_dir, $sort_field, $fields, $exclude_fields, $count);

        return $this->sendRequest($request);
    }

    public function getPage($page_id, $fields = null, $exclude_fields = null)
    {
        return $this->getPageWithHttpInfo($page_id, $fields, $exclude_fields);
    }

    public function getPageWithHttpInfo($page_id, $fields = null, $exclude_fields = null)
    {
        $request = $this->getPageRequest($page_id, $fields, $exclude_fields);

        return $this->sendRequest($request);
    }

    public function getPageContent($page_id, $fields = null, $exclude_fields = null)
    {
        return $this->getPageContentWithHttpInfo($page_id, $fields, $exclude_fields);
    }

    public function getPageContentWithHttpInfo($page_id, $fields = null, $exclude_fields = null)
    {
        $request = $this->getPageContentRequest($page_id, $fields, $exclude_fields);

        return $this->sendRequest($request);
    }

    public function updatePage($page_id, $body)
    {
        return $this->updatePageWithHttpInfo($page_id, $body);
    }

    public function updatePageWithHttpInfo($page_id, $body)
    {
        $request = $this->updatePageRequest($page_id, $body);

        return $this->sendRequest($request);
    }

    public function create($body, $use_default_list = null)
    {
        return $this->createWithHttpInfo($body, $use_default_list);
    }

    public function createWithHttpInfo($body, $use_default_list = null)
    {
        $request = $this->createRequest($body, $use_default_list);

        return $this->sendRequest($request);
    }

    public function publishPage($page_id): void
    {
        $this->publishPageWithHttpInfo($page_id);
    }

    public function publishPageWithHttpInfo($page_id)
    {
        $request = $this->publishPageRequest($page_id);

        return $this->sendRequest($request);
    }

    public function unpublishPage($page_id): void
    {
        $this->unpublishPageWithHttpInfo($page_id);
    }

    public function unpublishPageWithHttpInfo($page_id)
    {
        $request = $this->unpublishPageRequest($page_id);

        return $this->sendRequest($request);
    }

    protected function deletePageRequest($page_id): Request
    {
        $this->requireParam($page_id, 'page_id');

        $resourcePath = '/landing-pages/{page_id}';
        $queryParams = [];

        $this->replacePathParam($resourcePath, 'page_id', $page_id);

        return $this->buildRequest('DELETE', $resourcePath, $queryParams);
    }

    protected function getAllRequest($sort_dir = null, $sort_field = null, $fields = null, $exclude_fields = null, $count = '10'): Request
    {
        if (null !== $count && $count > 1000) {
            throw new \InvalidArgumentException('invalid value for "$count" when calling LandingPagesApi., must be smaller than or equal to 1000.');
        }

        $resourcePath = '/landing-pages';
        $queryParams = [];
        $this->addQueryParam($queryParams, 'sort_dir', $sort_dir);
        $this->addQueryParam($queryParams, 'sort_field', $sort_field);
        $this->addQueryParam($queryParams, 'fields', $fields);
        $this->addQueryParam($queryParams, 'exclude_fields', $exclude_fields);
        $this->addQueryParam($queryParams, 'count', $count);

        return $this->buildRequest('GET', $resourcePath, $queryParams);
    }

    protected function getPageRequest($page_id, $fields = null, $exclude_fields = null): Request
    {
        $this->requireParam($page_id, 'page_id');

        $resourcePath = '/landing-pages/{page_id}';
        $queryParams = $this->buildQueryParams($fields, $exclude_fields);

        $this->replacePathParam($resourcePath, 'page_id', $page_id);

        return $this->buildRequest('GET', $resourcePath, $queryParams);
    }

    protected function getPageContentRequest($page_id, $fields = null, $exclude_fields = null): Request
    {
        $this->requireParam($page_id, 'page_id');

        $resourcePath = '/landing-pages/{page_id}/content';
        $queryParams = $this->buildQueryParams($fields, $exclude_fields);

        $this->replacePathParam($resourcePath, 'page_id', $page_id);

        return $this->buildRequest('GET', $resourcePath, $queryParams);
    }

    protected function updatePageRequest($page_id, $body): Request
    {
        $this->requireParam($page_id, 'page_id');
        $this->requireParam($body, 'body');

        $resourcePath = '/landing-pages/{page_id}';
        $queryParams = [];

        $this->replacePathParam($resourcePath, 'page_id', $page_id);

        return $this->buildRequest('PATCH', $resourcePath, $queryParams, $body);
    }

    protected function createRequest($body, $use_default_list = null): Request
    {
        $this->requireParam($body, 'body');

        $resourcePath = '/landing-pages';
        $queryParams = [];
        $this->addQueryParam($queryParams, 'use_default_list', $use_default_list);

        return $this->buildRequest('POST', $resourcePath, $queryParams, $body);
    }

    protected function publishPageRequest($page_id): Request
    {
        $this->requireParam($page_id, 'page_id');

        $resourcePath = '/landing-pages/{page_id}/actions/publish';
        $queryParams = [];

        $this->replacePathParam($resourcePath, 'page_id', $page_id);

        return $this->buildRequest('POST', $resourcePath, $queryParams);
    }

    protected function unpublishPageRequest($page_id): Request
    {
        $this->requireParam($page_id, 'page_id');

        $resourcePath = '/landing-pages/{page_id}/actions/unpublish';
        $queryParams = [];

        $this->replacePathParam($resourcePath, 'page_id', $page_id);

        return $this->buildRequest('POST', $resourcePath, $queryParams);
    }
}
