<?php

declare(strict_types=1);

/**
 * TemplatesApi
 * PHP version 5.
 *
 * @category Class
 *
 * @author   Swagger Codegen team
 *
 * @see     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Mailchimp Marketing API.
 *
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 3.0.80
 * Contact: apihelp@mailchimp.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 * Swagger Codegen version: 2.4.12
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace MailchimpMarketing\Api;

use GuzzleHttp\Psr7\Request;

class TemplatesApi extends AbstractApi
{
    public function deleteTemplate($template_id): void
    {
        $this->deleteTemplateWithHttpInfo($template_id);
    }

    public function deleteTemplateWithHttpInfo($template_id)
    {
        $request = $this->deleteTemplateRequest($template_id);

        return $this->sendRequest($request);
    }

    public function list($fields = null, $exclude_fields = null, $count = '10', $offset = '0', $created_by = null, $since_date_created = null, $before_date_created = null, $type = null, $category = null, $folder_id = null, $sort_field = null, $sort_dir = null)
    {
        return $this->listWithHttpInfo($fields, $exclude_fields, $count, $offset, $created_by, $since_date_created, $before_date_created, $type, $category, $folder_id, $sort_field, $sort_dir);
    }

    public function listWithHttpInfo($fields = null, $exclude_fields = null, $count = '10', $offset = '0', $created_by = null, $since_date_created = null, $before_date_created = null, $type = null, $category = null, $folder_id = null, $sort_field = null, $sort_dir = null)
    {
        $request = $this->listRequest($fields, $exclude_fields, $count, $offset, $created_by, $since_date_created, $before_date_created, $type, $category, $folder_id, $sort_field, $sort_dir);

        return $this->sendRequest($request);
    }

    public function getTemplate($template_id, $fields = null, $exclude_fields = null)
    {
        return $this->getTemplateWithHttpInfo($template_id, $fields, $exclude_fields);
    }

    public function getTemplateWithHttpInfo($template_id, $fields = null, $exclude_fields = null)
    {
        $request = $this->getTemplateRequest($template_id, $fields, $exclude_fields);

        return $this->sendRequest($request);
    }

    public function getDefaultContentForTemplate($template_id, $fields = null, $exclude_fields = null)
    {
        return $this->getDefaultContentForTemplateWithHttpInfo($template_id, $fields, $exclude_fields);
    }

    public function getDefaultContentForTemplateWithHttpInfo($template_id, $fields = null, $exclude_fields = null)
    {
        $request = $this->getDefaultContentForTemplateRequest($template_id, $fields, $exclude_fields);

        return $this->sendRequest($request);
    }

    public function updateTemplate($template_id, $body)
    {
        return $this->updateTemplateWithHttpInfo($template_id, $body);
    }

    public function updateTemplateWithHttpInfo($template_id, $body)
    {
        $request = $this->updateTemplateRequest($template_id, $body);

        return $this->sendRequest($request);
    }

    public function create($body)
    {
        return $this->createWithHttpInfo($body);
    }

    public function createWithHttpInfo($body)
    {
        $request = $this->createRequest($body);

        return $this->sendRequest($request);
    }

    protected function deleteTemplateRequest($template_id): Request
    {
        $this->requireParam($template_id, 'template_id');

        $resourcePath = '/templates/{template_id}';
        $queryParams = [];

        $this->replacePathParam($resourcePath, 'template_id', $template_id);

        return $this->buildRequest('DELETE', $resourcePath, $queryParams);
    }

    protected function listRequest($fields = null, $exclude_fields = null, $count = '10', $offset = '0', $created_by = null, $since_date_created = null, $before_date_created = null, $type = null, $category = null, $folder_id = null, $sort_field = null, $sort_dir = null): Request
    {
        if (null !== $count && $count > 1000) {
            throw new \InvalidArgumentException('invalid value for "$count" when calling TemplatesApi., must be smaller than or equal to 1000.');
        }

        $resourcePath = '/templates';
        $queryParams = $this->buildQueryParams($fields, $exclude_fields, $count, $offset);
        $this->addQueryParam($queryParams, 'created_by', $created_by);
        $this->addQueryParam($queryParams, 'since_date_created', $since_date_created);
        $this->addQueryParam($queryParams, 'before_date_created', $before_date_created);
        $this->addQueryParam($queryParams, 'type', $type);
        $this->addQueryParam($queryParams, 'category', $category);
        $this->addQueryParam($queryParams, 'folder_id', $folder_id);
        $this->addQueryParam($queryParams, 'sort_field', $sort_field);
        $this->addQueryParam($queryParams, 'sort_dir', $sort_dir);

        return $this->buildRequest('GET', $resourcePath, $queryParams);
    }

    protected function getTemplateRequest($template_id, $fields = null, $exclude_fields = null): Request
    {
        $this->requireParam($template_id, 'template_id');

        $resourcePath = '/templates/{template_id}';
        $queryParams = $this->buildQueryParams($fields, $exclude_fields);

        $this->replacePathParam($resourcePath, 'template_id', $template_id);

        return $this->buildRequest('GET', $resourcePath, $queryParams);
    }

    protected function getDefaultContentForTemplateRequest($template_id, $fields = null, $exclude_fields = null): Request
    {
        $this->requireParam($template_id, 'template_id');

        $resourcePath = '/templates/{template_id}/default-content';
        $queryParams = $this->buildQueryParams($fields, $exclude_fields);

        $this->replacePathParam($resourcePath, 'template_id', $template_id);

        return $this->buildRequest('GET', $resourcePath, $queryParams);
    }

    protected function updateTemplateRequest($template_id, $body): Request
    {
        $this->requireParam($template_id, 'template_id');
        $this->requireParam($body, 'body');

        $resourcePath = '/templates/{template_id}';
        $queryParams = [];

        $this->replacePathParam($resourcePath, 'template_id', $template_id);

        return $this->buildRequest('PATCH', $resourcePath, $queryParams, $body);
    }

    protected function createRequest($body): Request
    {
        $this->requireParam($body, 'body');

        $resourcePath = '/templates';
        $queryParams = [];

        return $this->buildRequest('POST', $resourcePath, $queryParams, $body);
    }
}
